* text=auto

/.gitattributes text eol=lf
/.gitignore text eol=lf
*.py text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.jsonl text eol=lf
*.ini text eol=lf
*.toml text eol=lf
*.txt text eol=lf
*.snapshot text eol=lf
LICENSE text eol=lf
NOTICE text eol=lf

*.ps1 text eol=crlf
*.cmd text eol=crlf

*.jpg binary
*.png binary
*.pdf binary
